body {
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 1em;
}
p span {
    color:#999;
    font-size:70%;
}
.wrapper {
    max-width:98%;
    margin:30px auto;
}

nav {
    display:block;
    width:100%;
}
nav ul {
    padding:0;
    margin:0;
    list-style:none;
}
nav ul li {
    position:relative;
}
nav ul a {
    text-decoration:none;
    color:#424242;
}
nav > ul > li {
    float:left;
    margin-right:1px;
    background:#f6f6f6;
    -webkit-transition:background 500ms;
    -moz-transition:background 500ms;
    -o-transition:background 500ms;
    transition:background 500ms;
    min-width: 10%;
    border: 1px solid #888;
}

nav > ul > li > a {
    display:inline-block;
    padding:4px 10px 0;
    height:25px;
}
nav > ul > li.submenu > a {
    padding-right:112px;
}

nav > ul > li:hover, nav > ul > li.open {
    background-color:#F3F3F3;
}

nav li.submenu, nav li.action {
    padding-right:22px;
    border-radius: 5px;
    border: 1px solid #4cc1cd;
    background-color: #fff;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    margin-bottom: 2px;
    margin-right: 4px;
}

nav li.submenu i:before {
    content:"\E5CF";
    position:absolute;
    top:5px;
    right:12px;
    color:#067A86;
    -webkit-transition:transform 200ms;
    -moz-transition:transform 200ms;
    -o-transition:transform 200ms;
    transition:transform 200ms;
}
nav li.submenu.active i:before, nav li.submenu.open i:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
nav li.submenu li.submenu:hover i:before, nav li.submenu li.submenu.open i:before {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
nav ul ul {
    position:absolute;
    left: -2px;
    top: 32px;
    width:180px;
    filter:alpha(opacity="0");
    opacity:0;
    background:#fff;
    font-size:12px;
    border-bottom:0;
    border-top:0;
    -webkit-transition:.5s opacity;
    -moz-transition:.5s opacity;
    -o-transition:.5s opacity;
    transition:.5s opacity;
}
nav ul ul li {
    display:none;
}
nav ul li.submenu:hover > ul > li, nav ul li.submenu.open > ul > li {
    display:block;
}
nav ul li.submenu:hover > ul, nav ul li.submenu.open > ul {
    filter:alpha(opacity="100");
    opacity:1;
    background-color: transparent;
}
nav ul li.submenu:hover > ul ul, nav ul li.submenu.open > ul ul {
    filter:alpha(opacity="0");
    opacity:0;
}
nav ul li.submenu:hover > ul li.submenu:hover > ul, nav ul li.submenu.open > ul li.submenu.open > ul {
    filter:alpha(opacity="100");
    opacity:1;
}
nav ul li.submenu:hover > ul li.submenu:hover > ul > li, nav ul li.submenu.open > ul li.submenu.open > ul > li {
    display:block;
}
nav ul ul li .action{
    border-radius: 5px;
    border: 1px solid #4cc1cd;
    margin-bottom: 2px;
    background:#FFF;
}
nav ul ul li{
    border: 1px solid #4cc1cd;
    border-radius: 5px;
    margin-bottom: 2px;
    background-color:#FFF;
}
nav ul ul li a {
    padding:4px 10px;
    display:block;
    -webkit-transition:background 500ms, padding 500ms;
    -moz-transition:background 500ms, padding 500ms;
    -o-transition:background 500ms, padding 500ms;
    transition:background 500ms, padding 500ms;
}
nav ul ul li:hover, nav ul ul li.open {
    background:#F3F3F3;
}
nav ul ul li:hover > a, nav ul ul li:.open > a {
    padding-left:15px;
}
nav ul ul ul {
    left:182px;
    top:0;
    margin-top:-1px;
}


.submenu.active,.action.active{
    border: 1px solid #1795A2;
    border-radius: 5px;
    background-color: #C2E3E1;
}


#arv ul li span.key {
    
    width: 20px;
    height: 20px;
    border-radius: 10px;
    color: #000;
    font:normal 12px Arial, Helvetica, sans-serif;
    vertical-align: top;
    margin-left: 5px;
}



